body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: linear-gradient(to bottom, #eff6ff, #ffffff, #dbeafe); /* soft blues */

}

.perspective {
  perspective: 1000px;
}
.backface-hidden {
  backface-visibility: hidden;
}
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
